In [2]:
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import networkx as nx
from collections import defaultdict
import math
from sklearn.preprocessing import MinMaxScaler
from scipy.stats import pearsonr
%matplotlib notebook
from bokeh.plotting import figure, show, output_notebook
from bokeh.models import HoverTool, ColumnDataSource
from bokeh.palettes import Category20
output_notebook()

In [21]:
viz_df1 = pd.read_excel("x_col_new_all_comb_10_20_part_1.xlsx")
viz_df2 = pd.read_excel("x_col_new_all_comb_10_20_part_2.xlsx")
viz_df3 = pd.read_excel("x_col_new_all_comb_10_20_part_3.xlsx")

In [22]:
viz_df2

,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315,Sensitivity (NetAreaIrrigated_Wells_NetAreaIrrigated_179),Sensitivity (NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182),Sensitivity (NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183),Sensitivity (AreaUnderCereals_Maize_193),Sensitivity (MotorVehicles_Tractors_514),Sensitivity (TotalAgricultureLoan),Sensitivity (TotalNPK_315),Maize_Production,New Stability,New Stress
0,51176.474453,16589.000000,0.000000,1702.832470,13985.485329,43501.965861,81310.894899,0.5,0.00,0.75,0.25,0.75,0.25,0.75,90638.205724,0.909612,0.090388
1,32954.474453,699.000000,768.968462,1710.832470,10925.485329,0.000000,68870.894899,0.5,0.00,0.75,0.25,0.75,0.25,0.75,58488.845084,0.901811,0.098189
2,9654.474453,23393.000000,0.000000,80760.832470,29688.485329,71338.545861,131153.894899,0.5,0.00,0.75,0.25,0.75,0.25,0.75,328537.014394,0.647259,0.352741
3,9150.474453,106.000000,0.000000,5150.832470,13432.485329,12695.595861,103669.894899,0.5,0.00,0.75,0.25,0.75,0.25,0.75,62918.076483,0.754203,0.245797
4,14635.474453,16025.000000,0.000000,6594.832470,18186.485329,57833.865861,123280.894899,0.5,0.00,0.75,0.25,0.75,0.25,0.75,82552.378967,0.832924,0.167076
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,28544.948907,0.000000,0.000000,42391.497409,22311.161776,0.000000,82921.631633,1.0,0.25,0.25,0.75,0.25,0.75,0.25,215160.861631,0.914723,0.085277
999996,20170.948907,0.000000,0.000000,43677.497409,5884.161776,0.000000,44710.631633,1.0,0.25,0.25,0.75,0.25,0.75,0.25,161609.025245,0.935399,0.064601
999997,155631.948907,40520.030484,6010.989487,136271.497409,48641.161776,172897.667583,200899.631633,1.0,0.25,0.25,0.75,0.25,0.75,0.25,645578.635927,0.239177,0.760823
999998,91280.948907,14327.030484,0.000000,45315.497409,27018.161776,104365.987583,75135.631633,1.0,0.25,0.25,0.75,0.25,0.75,0.25,289079.498406,0.893945,0.106055
999999,23229.948907,18309.030484,0.000000,49408.497409,26316.161776,106267.847583,105719.631633,1.0,0.25,0.25,0.75,0.25,0.75,0.25,230136.693035,0.897729,0.102271

In [4]:
# viz_df1.to_csv('x_col_new_all_comb_10_20_part_1.csv')
# viz_df2.to_csv('x_col_new_all_comb_10_20_part_2.csv')
# viz_df3.to_csv('x_col_new_all_comb_10_20_part_3.csv')

In [28]:
Viz_df = pd.concat([viz_df1, viz_df2,viz_df3], axis=0)

In [29]:
Viz_df

,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315,Sensitivity (NetAreaIrrigated_Wells_NetAreaIrrigated_179),Sensitivity (NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182),Sensitivity (NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183),Sensitivity (AreaUnderCereals_Maize_193),Sensitivity (MotorVehicles_Tractors_514),Sensitivity (TotalAgricultureLoan),Sensitivity (TotalNPK_315),Maize_Production,New Stability,New Stress
0,0.000000,9348.0,0.000000,1129.000000,14638.000000,5214.67,23310.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23915.473933,0.992146,0.007854
1,741.000000,20281.0,1.000000,14867.000000,981.000000,21753.35,19259.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30524.470141,0.936032,0.063968
2,0.000000,23868.0,4.000000,1987.000000,11407.000000,31203.85,7472.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10705.657286,0.916443,0.083557
3,0.000000,92506.0,107.000000,92194.000000,18587.000000,123911.81,35884.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,290883.725726,0.944695,0.055305
4,860.000000,78364.0,1562.000000,173400.000000,32337.000000,106009.65,99644.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,573984.841430,0.416855,0.583145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343745,35676.948907,0.0,184.957949,8193.329878,14052.647105,0.00,108288.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,104455.924910,0.945865,0.054135
343746,30144.948907,0.0,0.000000,9445.329878,25147.647105,0.00,137629.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,137243.278362,0.920481,0.079519
343747,28992.948907,0.0,412.957949,7772.329878,18698.647105,0.00,175019.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,120630.289248,0.862306,0.137694
343748,32466.948907,0.0,3183.957949,9411.329878,34408.647105,0.00,200865.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,143706.860212,0.767704,0.232296
343749,18300.948907,0.0,0.000000,55021.329878,25113.647105,0.00,157182.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,266811.674673,0.991992,0.008008

In [6]:
df1 = pd.read_csv("KAG 2016-17/Agriculture/Agriculture_KAG_2016_17.csv")

In [7]:
df=pd.read_csv("maizeProductionCaseFile.csv")

In [ ]:
# df1["DCCBank_AgricultureLoan"]
# df = pd.concat([df, df1["DCCBank_AgricultureLoan"]], axis=1)

In [9]:
df

,District,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315,Maize_Production_226,MediumAgricultureLandHoldings_TotalInstitutionsArea_1108
0,BENGALURU,0,9348,0,1129,14638,5214.67,23310,2879,113
1,BENGALURU(R),741,20281,1,14867,981,21753.35,19259,42583,5
2,RAMANAGARA,0,23868,4,1987,11407,31203.85,7472,10450,40
3,CHITRADURGA,0,92506,107,92194,18587,123911.81,35884,271975,447
4,DAVANAGERE,860,78364,1562,173400,32337,106009.65,99644,593544,1016
5,KOLAR,0,20140,0,640,16855,77685.40,22190,1759,104
6,CHIKKABALLAPURA,0,50370,21,59377,11411,59548.93,28357,105491,273
7,SHIVAMOGGA,6400,32347,4152,43827,17941,102016.08,56609,226532,210
8,TUMAKURU,901,144708,9,24207,26534,147446.57,38148,66868,138
9,CHIKKAMAGALURU,173,26174,4075,25831,15882,79357.11,67863,61353,733
10,DAKSHINA KANNADA,42026,16589,8,0,7388,81653.32,18588,0,362
11,UDUPI,23804,699,2245,8,4328,27941.62,6148,109,310
12,HASSAN,504,23393,20,79058,23091,109489.90,68431,333937,490
13,KODAGU,0,106,11,3448,6835,50846.95,40947,17921,263
14,MANDYA,5485,16025,89,4892,11589,95985.22,60558,19387,673
15,MYSURU,10244,19842,3,37283,20112,101468.48,62014,137154,419
16,CHAMARAJANAGAR,1870,44070,5,38569,3685,29582.50,23803,147886,243
17,BELAGAVI,137331,139708,6503,131163,46442,287351.73,179992,576758,251
18,VIJAYAPURA,72980,113515,2,40207,24819,218820.05,54228,226327,76
19,BAGALKOT,4929,117497,19,44300,24117,220721.91,84812,251699,113
20,DHARAWAD,0,20816,0,30900,14291,78464.14,37381,90634,195
21,GADAG,373,41664,12,34163,27940,82462.90,23280,138476,309
22,HAVERI,20,63016,10529,170696,15690,103193.56,65001,413487,289
23,UTTARA KANNADA,10395,8460,16,4576,4638,71656.74,15316,24088,184
24,BALLARI,3037,75198,3597,99739,24001,216744.25,123329,208090,1070
25,BIDAR,17376,19908,2153,1382,5256,128756.98,24658,2791,252
26,KALABURAGI,11844,48802,114,2634,16351,148797.70,53999,14621,449
27,YADGIRI,10692,22035,2381,961,9902,51838.27,91389,2673,77
28,RAICHUR,14166,26571,5152,2600,25612,148633.91,117235,723,14
29,KOPPAL,0,82552,10,48210,16317,71493.82,73552,190252,71

In [10]:
df = df.drop(df.columns[-1], axis=1)

In [11]:
df

,District,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315,Maize_Production_226
0,BENGALURU,0,9348,0,1129,14638,5214.67,23310,2879
1,BENGALURU(R),741,20281,1,14867,981,21753.35,19259,42583
2,RAMANAGARA,0,23868,4,1987,11407,31203.85,7472,10450
3,CHITRADURGA,0,92506,107,92194,18587,123911.81,35884,271975
4,DAVANAGERE,860,78364,1562,173400,32337,106009.65,99644,593544
5,KOLAR,0,20140,0,640,16855,77685.40,22190,1759
6,CHIKKABALLAPURA,0,50370,21,59377,11411,59548.93,28357,105491
7,SHIVAMOGGA,6400,32347,4152,43827,17941,102016.08,56609,226532
8,TUMAKURU,901,144708,9,24207,26534,147446.57,38148,66868
9,CHIKKAMAGALURU,173,26174,4075,25831,15882,79357.11,67863,61353
10,DAKSHINA KANNADA,42026,16589,8,0,7388,81653.32,18588,0
11,UDUPI,23804,699,2245,8,4328,27941.62,6148,109
12,HASSAN,504,23393,20,79058,23091,109489.90,68431,333937
13,KODAGU,0,106,11,3448,6835,50846.95,40947,17921
14,MANDYA,5485,16025,89,4892,11589,95985.22,60558,19387
15,MYSURU,10244,19842,3,37283,20112,101468.48,62014,137154
16,CHAMARAJANAGAR,1870,44070,5,38569,3685,29582.50,23803,147886
17,BELAGAVI,137331,139708,6503,131163,46442,287351.73,179992,576758
18,VIJAYAPURA,72980,113515,2,40207,24819,218820.05,54228,226327
19,BAGALKOT,4929,117497,19,44300,24117,220721.91,84812,251699
20,DHARAWAD,0,20816,0,30900,14291,78464.14,37381,90634
21,GADAG,373,41664,12,34163,27940,82462.90,23280,138476
22,HAVERI,20,63016,10529,170696,15690,103193.56,65001,413487
23,UTTARA KANNADA,10395,8460,16,4576,4638,71656.74,15316,24088
24,BALLARI,3037,75198,3597,99739,24001,216744.25,123329,208090
25,BIDAR,17376,19908,2153,1382,5256,128756.98,24658,2791
26,KALABURAGI,11844,48802,114,2634,16351,148797.70,53999,14621
27,YADGIRI,10692,22035,2381,961,9902,51838.27,91389,2673
28,RAICHUR,14166,26571,5152,2600,25612,148633.91,117235,723
29,KOPPAL,0,82552,10,48210,16317,71493.82,73552,190252

In [ ]:
# df = df.drop(10)

In [ ]:
# df['RRB_AgricultureLoan'] = df['RRB_AgricultureLoan'].str.replace(',', '').astype(float)

In [ ]:
# new_entry = {'District': 'Vijayanagara', 
#              'KGISDist 1': 'Vijayanagara', 
#              'TotalNPK': 9629,
#              'RRB_AgricultureLoan': 5269.97,
#              'KSCARD_PLDBank_AgricultureLoan': 586.45,
#              'SowingSeedsDistributed_Maize': 67.36,
#              'Maize_Production': 21291,
#              'DCCBank_AgricultureLoan': 5020.25 }

# new_row = pd.DataFrame([new_entry])
# df.loc[df['District'] == 'BALLARI', 'DCCBank_AgricultureLoan'] = 5020.25
# df = df.append(new_row, ignore_index=True)

In [ ]:
# df.to_csv("MaizeCaseFile_3.csv", index=False)

In [31]:
Viz_df.columns

Index(['NetAreaIrrigated_Wells_NetAreaIrrigated_179',
       'NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182',
       'NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183',
       'AreaUnderCereals_Maize_193', 'MotorVehicles_Tractors_514',
       'TotalAgricultureLoan', 'TotalNPK_315',
       'Sensitivity (NetAreaIrrigated_Wells_NetAreaIrrigated_179)',
       'Sensitivity (NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182)',
       'Sensitivity (NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183)',
       'Sensitivity (AreaUnderCereals_Maize_193)',
       'Sensitivity (MotorVehicles_Tractors_514)',
       'Sensitivity (TotalAgricultureLoan)', 'Sensitivity (TotalNPK_315)',
       'Maize_Production', 'New Stability', 'New Stress'],
      dtype='object')

In [26]:
df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1, inplace=True)

In [27]:
viz_df1

,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315,Sensitivity (NetAreaIrrigated_Wells_NetAreaIrrigated_179),Sensitivity (NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182),Sensitivity (NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183),Sensitivity (AreaUnderCereals_Maize_193),Sensitivity (MotorVehicles_Tractors_514),Sensitivity (TotalAgricultureLoan),Sensitivity (TotalNPK_315),Maize_Production,New Stability,New Stress
0,0.000000,9348.0,0.000000,1129.00000,14638.000000,5214.670000,23310.000000,0.0,0.0,0.00,0.00,0.00,0.00,0.00,23915.473933,0.992146,0.007854
1,741.000000,20281.0,1.000000,14867.00000,981.000000,21753.350000,19259.000000,0.0,0.0,0.00,0.00,0.00,0.00,0.00,30524.470141,0.936032,0.063968
2,0.000000,23868.0,4.000000,1987.00000,11407.000000,31203.850000,7472.000000,0.0,0.0,0.00,0.00,0.00,0.00,0.00,10705.657286,0.916443,0.083557
3,0.000000,92506.0,107.000000,92194.00000,18587.000000,123911.810000,35884.000000,0.0,0.0,0.00,0.00,0.00,0.00,0.00,290883.725726,0.944695,0.055305
4,860.000000,78364.0,1562.000000,173400.00000,32337.000000,106009.650000,99644.000000,0.0,0.0,0.00,0.00,0.00,0.00,0.00,573984.841430,0.416855,0.583145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,9150.474453,20140.0,0.000000,2342.83247,23452.485329,39534.045861,84912.894899,0.5,0.0,0.75,0.25,0.75,0.25,0.75,68621.446669,0.897673,0.102327
999996,9150.474453,50370.0,0.000000,61079.83247,18008.485329,21397.575861,91079.894899,0.5,0.0,0.75,0.25,0.75,0.25,0.75,236333.344709,0.769639,0.230361
999997,15550.474453,32347.0,2675.968462,45529.83247,24538.485329,63864.725861,119331.894899,0.5,0.0,0.75,0.25,0.75,0.25,0.75,185825.935143,0.847248,0.152752
999998,10051.474453,144708.0,0.000000,25909.83247,33131.485329,109295.215861,100870.894899,0.5,0.0,0.75,0.25,0.75,0.25,0.75,151831.960257,0.952644,0.047356
999999,9323.474453,26174.0,2598.968462,27533.83247,22479.485329,41205.755861,130585.894899,0.5,0.0,0.75,0.25,0.75,0.25,0.75,126376.569312,0.778815,0.221185

In [19]:
x_col_indices = [1, 2, 3, 4, 5, 6, 7]
x_col = df.columns[x_col_indices]
x_col

Index(['NetAreaIrrigated_Wells_NetAreaIrrigated_179',
       'NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182',
       'NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183',
       'AreaUnderCereals_Maize_193', 'MotorVehicles_Tractors_514',
       'TotalAgricultureLoan', 'TotalNPK_315'],
      dtype='object')

In [ ]:
# x_col_indices = [2, 5, 3, 4, 7]  # Column indices are 0-based

# # Get the column names corresponding to the indices
# x_col = df.columns[x_col_indices]

# # Concatenate the columns as per your requirement
# x_col_combined = list(x_col[:2]) + [df.columns[3] + "_" + df.columns[4] + "_" + df.columns[7]]

# # Display the resulting column names
# print(x_col_combined)

In [ ]:
# x_col_indices = [2, 3, 4]
# x_col = df.columns[x_col_indices]
# x=df[x_col]
# y=df['Maize_Production']
# x=sm.add_constant(x)
# model=sm.OLS(y,x).fit()
# model.summary()

In [ ]:
# x_col_indices = [2, 3, 5]
# x_col = df.columns[x_col_indices]
# x=df[x_col]
# y=df['Maize_Production']
# x=sm.add_constant(x)
# model=sm.OLS(y,x).fit()
# model.summary()

In [ ]:
# x_col_indices = [2, 4, 5]
# x_col = df.columns[x_col_indices]
# x=df[x_col]
# y=df['Maize_Production']
# x=sm.add_constant(x)
# model=sm.OLS(y,x).fit()
# model.summary()

In [ ]:
# x_col_indices = [3, 4, 5]
# x_col = df.columns[x_col_indices]
# x=df[x_col]
# y=df['Maize_Production']
# x=sm.add_constant(x)
# model=sm.OLS(y,x).fit()
# model.summary()

In [20]:
x=df[x_col]
x.head()

,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315
0,0.0,9348.0,0.0,1129.0,14638.0,5214.67,23310.0
1,741.0,20281.0,1.0,14867.0,981.0,21753.35,19259.0
2,0.0,23868.0,4.0,1987.0,11407.0,31203.85,7472.0
3,0.0,92506.0,107.0,92194.0,18587.0,123911.81,35884.0
4,860.0,78364.0,1562.0,173400.0,32337.0,106009.65,99644.0

In [ ]:
# df['Total_Argicultural_Loan'] = df.iloc[:, 3] + df.iloc[:, 4] + df.iloc[:, 7]
# df

In [ ]:
# x_col_indices = [2, 5, 8] 
# x_col = df.columns[x_col_indices]

In [ ]:
# x_col

In [21]:
# x = df[x_col]
x.head()

,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315
0,0.0,9348.0,0.0,1129.0,14638.0,5214.67,23310.0
1,741.0,20281.0,1.0,14867.0,981.0,21753.35,19259.0
2,0.0,23868.0,4.0,1987.0,11407.0,31203.85,7472.0
3,0.0,92506.0,107.0,92194.0,18587.0,123911.81,35884.0
4,860.0,78364.0,1562.0,173400.0,32337.0,106009.65,99644.0

In [22]:
x.corr()

,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315
NetAreaIrrigated_Wells_NetAreaIrrigated_179,1.000000,0.172207,0.273534,0.180315,0.438627,0.530900,0.373394
NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,0.172207,1.000000,0.064430,0.182470,0.251823,0.226767,0.147575
NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,0.273534,0.064430,1.000000,0.524516,0.281587,0.241316,0.405795
AreaUnderCereals_Maize_193,0.180315,0.182470,0.524516,1.000000,0.546790,0.312636,0.429191
MotorVehicles_Tractors_514,0.438627,0.251823,0.281587,0.546790,1.000000,0.550539,0.557080
TotalAgricultureLoan,0.530900,0.226767,0.241316,0.312636,0.550539,1.000000,0.453280
TotalNPK_315,0.373394,0.147575,0.405795,0.429191,0.557080,0.453280,1.000000

In [23]:
p_values = x.corr(method=lambda i, j: pearsonr(i, j)[1])  # Calculate p-values
p_values

,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315
NetAreaIrrigated_Wells_NetAreaIrrigated_179,1.0,0.0,0.0,0.0,0.0,0.0,0.0
NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,0.0,1.0,0.0,0.0,0.0,0.0,0.0
NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,0.0,0.0,1.0,0.0,0.0,0.0,0.0
AreaUnderCereals_Maize_193,0.0,0.0,0.0,1.0,0.0,0.0,0.0
MotorVehicles_Tractors_514,0.0,0.0,0.0,0.0,1.0,0.0,0.0
TotalAgricultureLoan,0.0,0.0,0.0,0.0,0.0,1.0,0.0
TotalNPK_315,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
checker = df[df.columns[x_col_indices]]
p_values = checker.corr(method=lambda i, j: pearsonr(i, j)[1])
p_values

,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315
NetAreaIrrigated_Wells_NetAreaIrrigated_179,1.000000,0.021661,0.123827,0.326585,0.008295,0.000354,0.006899
NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,0.021661,1.000000,0.406643,0.001945,0.000019,0.000003,0.005061
NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,0.123827,0.406643,1.000000,0.003046,0.109051,0.084963,0.001894
AreaUnderCereals_Maize_193,0.326585,0.001945,0.003046,1.000000,0.000892,0.021781,0.002028
MotorVehicles_Tractors_514,0.008295,0.000019,0.109051,0.000892,1.000000,0.000002,0.000004
TotalAgricultureLoan,0.000354,0.000003,0.084963,0.021781,0.000002,1.000000,0.000009
TotalNPK_315,0.006899,0.005061,0.001894,0.002028,0.000004,0.000009,1.000000

In [ ]:
checker.corr()

,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315
NetAreaIrrigated_Wells_NetAreaIrrigated_179,1.000000,0.417619,0.287211,0.185427,0.473008,0.609085,0.482701
NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,0.417619,1.000000,0.157239,0.542697,0.696898,0.739141,0.498402
NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,0.287211,0.157239,1.000000,0.522659,0.298539,0.319770,0.543843
AreaUnderCereals_Maize_193,0.185427,0.542697,0.522659,1.000000,0.574817,0.417274,0.540876
MotorVehicles_Tractors_514,0.473008,0.696898,0.298539,0.574817,1.000000,0.746038,0.736201
TotalAgricultureLoan,0.609085,0.739141,0.319770,0.417274,0.746038,1.000000,0.714770
TotalNPK_315,0.482701,0.498402,0.543843,0.540876,0.736201,0.714770,1.000000

In [25]:
df.columns

Index(['Unnamed: 0', 'NetAreaIrrigated_Wells_NetAreaIrrigated_179',
       'NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182',
       'NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183',
       'AreaUnderCereals_Maize_193', 'MotorVehicles_Tractors_514',
       'TotalAgricultureLoan', 'TotalNPK_315',
       'Sensitivity (NetAreaIrrigated_Wells_NetAreaIrrigated_179)',
       'Sensitivity (NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182)',
       'Sensitivity (NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183)',
       'Sensitivity (AreaUnderCereals_Maize_193)',
       'Sensitivity (MotorVehicles_Tractors_514)',
       'Sensitivity (TotalAgricultureLoan)', 'Sensitivity (TotalNPK_315)',
       'Maize_Production', 'New Stability', 'New Stress'],
      dtype='object')

In [29]:
y=df1['Maize_Production']
y

0       2879
1      42583
2      10450
3     271975
4     593544
5       1759
6     105491
7     226532
8      66868
9      61353
10         0
11       109
12    333937
13     17921
14     19387
15    137154
16    147886
17    576758
18    226327
19    251699
20     90634
21    138476
22    413487
23     24088
24    208090
25      2791
26     14621
27      2673
28       723
29    190252
Name: Maize_Production, dtype: int64

In [ ]:
x.corr()

,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315
NetAreaIrrigated_Wells_NetAreaIrrigated_179,1.000000,0.417619,0.287211,0.185427,0.473008,0.609085,0.482701
NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,0.417619,1.000000,0.157239,0.542697,0.696898,0.739141,0.498402
NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,0.287211,0.157239,1.000000,0.522659,0.298539,0.319770,0.543843
AreaUnderCereals_Maize_193,0.185427,0.542697,0.522659,1.000000,0.574817,0.417274,0.540876
MotorVehicles_Tractors_514,0.473008,0.696898,0.298539,0.574817,1.000000,0.746038,0.736201
TotalAgricultureLoan,0.609085,0.739141,0.319770,0.417274,0.746038,1.000000,0.714770
TotalNPK_315,0.482701,0.498402,0.543843,0.540876,0.736201,0.714770,1.000000

In [ ]:
x=sm.add_constant(x)
x.head()

,const,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315
0,1.0,0,9348,0,1129,14638,5214.67,23310
1,1.0,741,20281,1,14867,981,21753.35,19259
2,1.0,0,23868,4,1987,11407,31203.85,7472
3,1.0,0,92506,107,92194,18587,123911.81,35884
4,1.0,860,78364,1562,173400,32337,106009.65,99644

In [ ]:
# x['constant_100'] = 1000
# x = x[['constant_100'] + [col for col in x.columns if col != 'constant_100']]
# x = sm.add_constant(x, prepend=False)
# x.head()

In [ ]:
model=sm.OLS(y,x).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                             OLS Regression Results
================================================================================
Dep. Variable:     Maize_Production_226   R-squared:                       0.942
Model:                              OLS   Adj. R-squared:                  0.923
Method:                   Least Squares   F-statistic:                     50.81
Date:                  Mon, 15 Apr 2024   Prob (F-statistic):           3.97e-12
Time:                          15:26:39   Log-Likelihood:                -359.93
No. Observations:                    30   AIC:                             735.9
Df Residuals:                        22   BIC:                             747.1
Df Model:                             7
Covariance Type:              nonrobust
========================================================================================================================================
                                                                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------------------------------
const                                                                -1.844e+04   1.83e+04     -1.008      0.324   -5.64e+04    1.95e+04
NetAreaIrrigated_Wells_NetAreaIrrigated_179                              1.1285      0.394      2.864      0.009       0.311       1.945
NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182    -0.0521      0.372     -0.140      0.890      -0.824       0.720
NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183            -10.4936      4.694     -2.235      0.036     -20.229      -0.758
AreaUnderCereals_Maize_193                                               3.0320      0.268     11.307      0.000       2.476       3.588
MotorVehicles_Tractors_514                                               2.3477      1.632      1.439      0.164      -1.036       5.731
TotalAgricultureLoan                                                    -0.1353      0.268     -0.505      0.619      -0.691       0.421
TotalNPK_315                                                             0.2469      0.403      0.613      0.546      -0.589       1.082
==============================================================================
Omnibus:                        5.290   Durbin-Watson:                   2.691
Prob(Omnibus):                  0.071   Jarque-Bera (JB):                4.450
Skew:                           0.407   Prob(JB):                        0.108
Kurtosis:                       4.702   Cond. No.                     3.44e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.44e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
# import numpy as np
# import pandas as pd
# from sklearn.decomposition import PCA
# from sklearn.preprocessing import StandardScaler

# # Assuming x is already defined as sm.add_constant(x)

# # Standardize variables
# scaler = StandardScaler()
# X_standardized = scaler.fit_transform(x)

# # Perform PCA with 2 components
# pca = PCA(n_components=2)
# X_pca = pca.fit_transform(X_standardized)

# # Extract the principal components
# PC1 = X_pca[:, 0]
# PC2 = X_pca[:, 1]

# # Create a DataFrame with PC1 and PC2 as the dependent variables
# pca_df = pd.DataFrame({'PC1': PC1, 'PC2': PC2, 'Maize_Production': y})

# # Fit a new regression model with PC1 and PC2 as predictors
# model = sm.OLS(pca_df['Maize_Production'], pca_df[['PC1', 'PC2']]).fit()
# print(model.summary())

In [ ]:
y.mean()

139348.23333333334

In [ ]:
# target=10

In [ ]:
model.params.values

array([-1.84369639e+04,  1.12845333e+00, -5.20520956e-02, -1.04935597e+01,
        3.03197276e+00,  2.34768616e+00, -1.35327875e-01,  2.46940531e-01])

In [ ]:
coef=model.params.values[1:]
# coef

In [ ]:
coef

array([  1.12845333,  -0.0520521 , -10.49355966,   3.03197276,
         2.34768616,  -0.13532787,   0.24694053])

In [ ]:
# target=5
# target

In [ ]:
x.drop('const',axis=1,inplace=True)

In [ ]:
x.head()

,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315
0,0,9348,0,1129,14638,5214.67,23310
1,741,20281,1,14867,981,21753.35,19259
2,0,23868,4,1987,11407,31203.85,7472
3,0,92506,107,92194,18587,123911.81,35884
4,860,78364,1562,173400,32337,106009.65,99644

In [ ]:
import numpy as np
import pandas as pd
from itertools import product

arr = np.arange(0, 1.25, 0.25)
columns=['Sensitivity (NetAreaIrrigated_Wells_NetAreaIrrigated_179)', 'Sensitivity (NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182)' , 'Sensitivity (NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183)','Sensitivity (AreaUnderCereals_Maize_193)','Sensitivity (MotorVehicles_Tractors_514)', 'Sensitivity (TotalAgricultureLoan)' , 'Sensitivity (TotalNPK_315)']
# Generate all possible combinations of elements in arr
combinations = product(arr, repeat=len(columns))

# alpha_df = pd.DataFrame(combinations, columns=['Sensitivity (TotalNPK)', 'Sensitivity (RRB_AgricultureLoan)', 'Sensitivity (KSCARD_PLDBank_AgricultureLoan)', 'Sensitivity (SowingSeedsDistributed_Maize)'])
alpha_df = pd.DataFrame(combinations, columns=columns)

In [ ]:
alpha_df.head()

,Sensitivity (NetAreaIrrigated_Wells_NetAreaIrrigated_179),Sensitivity (NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182),Sensitivity (NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183),Sensitivity (AreaUnderCereals_Maize_193),Sensitivity (MotorVehicles_Tractors_514),Sensitivity (TotalAgricultureLoan),Sensitivity (TotalNPK_315)
0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
1,0.0,0.0,0.0,0.0,0.0,0.0,0.25
2,0.0,0.0,0.0,0.0,0.0,0.0,0.50
3,0.0,0.0,0.0,0.0,0.0,0.0,0.75
4,0.0,0.0,0.0,0.0,0.0,0.0,1.00

In [ ]:
import pandas as pd
import numpy as np

x_new_all_comb = pd.DataFrame()
target=160000

def computing_new_x(alpha_x):

    temp_df = (x - np.array(alpha_x) * (y.mean() - target) / coef)
    alpha = pd.DataFrame(np.tile(alpha_x, (len(temp_df), 1)),columns=alpha_x.index)
    temp_df = pd.concat([temp_df, alpha], axis=1)
    return temp_df

for index, row in alpha_df.iterrows():
    x_new_all_comb = pd.concat([x_new_all_comb, computing_new_x(row)], ignore_index=True)

In [ ]:
x_new_all_comb

,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315,Sensitivity (NetAreaIrrigated_Wells_NetAreaIrrigated_179),Sensitivity (NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182),Sensitivity (NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183),Sensitivity (AreaUnderCereals_Maize_193),Sensitivity (MotorVehicles_Tractors_514),Sensitivity (TotalAgricultureLoan),Sensitivity (TotalNPK_315)
0,0.000000,9348.000000,0.000000,1129.000000,14638.000000,5214.670000,23310.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,741.000000,20281.000000,1.000000,14867.000000,981.000000,21753.350000,19259.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,23868.000000,4.000000,1987.000000,11407.000000,31203.850000,7472.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,92506.000000,107.000000,92194.000000,18587.000000,123911.810000,35884.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,860.000000,78364.000000,1562.000000,173400.000000,32337.000000,106009.650000,99644.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343745,35676.948907,-376843.878063,184.957949,8193.329878,14052.647105,-23848.436555,108288.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2343746,30144.948907,-347949.878063,-1854.042051,9445.329878,25147.647105,-3807.716555,137629.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2343747,28992.948907,-374716.878063,412.957949,7772.329878,18698.647105,-100767.146555,175019.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2343748,32466.948907,-370180.878063,3183.957949,9411.329878,34408.647105,-3971.506555,200865.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2343749,18300.948907,-314199.878063,-1958.042051,55021.329878,25113.647105,-81111.596555,157182.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [ ]:
x_new_all_comb[:30]

,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315,Sensitivity (NetAreaIrrigated_Wells_NetAreaIrrigated_179),Sensitivity (NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182),Sensitivity (NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183),Sensitivity (AreaUnderCereals_Maize_193),Sensitivity (MotorVehicles_Tractors_514),Sensitivity (TotalAgricultureLoan),Sensitivity (TotalNPK_315)
0,0.0,9348.0,0.0,1129.0,14638.0,5214.67,23310.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,741.0,20281.0,1.0,14867.0,981.0,21753.35,19259.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,23868.0,4.0,1987.0,11407.0,31203.85,7472.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,92506.0,107.0,92194.0,18587.0,123911.81,35884.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,860.0,78364.0,1562.0,173400.0,32337.0,106009.65,99644.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,20140.0,0.0,640.0,16855.0,77685.40,22190.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,50370.0,21.0,59377.0,11411.0,59548.93,28357.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,6400.0,32347.0,4152.0,43827.0,17941.0,102016.08,56609.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,901.0,144708.0,9.0,24207.0,26534.0,147446.57,38148.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,173.0,26174.0,4075.0,25831.0,15882.0,79357.11,67863.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,42026.0,16589.0,8.0,0.0,7388.0,81653.32,18588.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,23804.0,699.0,2245.0,8.0,4328.0,27941.62,6148.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,504.0,23393.0,20.0,79058.0,23091.0,109489.90,68431.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,106.0,11.0,3448.0,6835.0,50846.95,40947.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,5485.0,16025.0,89.0,4892.0,11589.0,95985.22,60558.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,10244.0,19842.0,3.0,37283.0,20112.0,101468.48,62014.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1870.0,44070.0,5.0,38569.0,3685.0,29582.50,23803.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,137331.0,139708.0,6503.0,131163.0,46442.0,287351.73,179992.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,72980.0,113515.0,2.0,40207.0,24819.0,218820.05,54228.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,4929.0,117497.0,19.0,44300.0,24117.0,220721.91,84812.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.0,20816.0,0.0,30900.0,14291.0,78464.14,37381.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,373.0,41664.0,12.0,34163.0,27940.0,82462.90,23280.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,20.0,63016.0,10529.0,170696.0,15690.0,103193.56,65001.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,10395.0,8460.0,16.0,4576.0,4638.0,71656.74,15316.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,3037.0,75198.0,3597.0,99739.0,24001.0,216744.25,123329.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,17376.0,19908.0,2153.0,1382.0,5256.0,128756.98,24658.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,11844.0,48802.0,114.0,2634.0,16351.0,148797.70,53999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,10692.0,22035.0,2381.0,961.0,9902.0,51838.27,91389.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,14166.0,26571.0,5152.0,2600.0,25612.0,148633.91,117235.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0.0,82552.0,10.0,48210.0,16317.0,71493.82,73552.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Neg values

In [ ]:
def clip(col):
    return np.maximum(col, 0)

x_new_all_comb = x_new_all_comb.apply(clip)
x_new_all_comb

,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315,Sensitivity (NetAreaIrrigated_Wells_NetAreaIrrigated_179),Sensitivity (NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182),Sensitivity (NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183),Sensitivity (AreaUnderCereals_Maize_193),Sensitivity (MotorVehicles_Tractors_514),Sensitivity (TotalAgricultureLoan),Sensitivity (TotalNPK_315)
0,0.000000,9348.0,0.000000,1129.000000,14638.000000,5214.67,23310.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,741.000000,20281.0,1.000000,14867.000000,981.000000,21753.35,19259.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,23868.0,4.000000,1987.000000,11407.000000,31203.85,7472.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,92506.0,107.000000,92194.000000,18587.000000,123911.81,35884.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,860.000000,78364.0,1562.000000,173400.000000,32337.000000,106009.65,99644.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343745,35676.948907,0.0,184.957949,8193.329878,14052.647105,0.00,108288.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2343746,30144.948907,0.0,0.000000,9445.329878,25147.647105,0.00,137629.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2343747,28992.948907,0.0,412.957949,7772.329878,18698.647105,0.00,175019.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2343748,32466.948907,0.0,3183.957949,9411.329878,34408.647105,0.00,200865.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2343749,18300.948907,0.0,0.000000,55021.329878,25113.647105,0.00,157182.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [ ]:
x_new_all_comb=sm.add_constant(x_new_all_comb)
x_new_all_comb

,const,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315,Sensitivity (NetAreaIrrigated_Wells_NetAreaIrrigated_179),Sensitivity (NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182),Sensitivity (NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183),Sensitivity (AreaUnderCereals_Maize_193),Sensitivity (MotorVehicles_Tractors_514),Sensitivity (TotalAgricultureLoan),Sensitivity (TotalNPK_315)
0,1.0,0.000000,9348.0,0.000000,1129.000000,14638.000000,5214.67,23310.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,741.000000,20281.0,1.000000,14867.000000,981.000000,21753.35,19259.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.000000,23868.0,4.000000,1987.000000,11407.000000,31203.85,7472.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.000000,92506.0,107.000000,92194.000000,18587.000000,123911.81,35884.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,860.000000,78364.0,1562.000000,173400.000000,32337.000000,106009.65,99644.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343745,1.0,35676.948907,0.0,184.957949,8193.329878,14052.647105,0.00,108288.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2343746,1.0,30144.948907,0.0,0.000000,9445.329878,25147.647105,0.00,137629.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2343747,1.0,28992.948907,0.0,412.957949,7772.329878,18698.647105,0.00,175019.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2343748,1.0,32466.948907,0.0,3183.957949,9411.329878,34408.647105,0.00,200865.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2343749,1.0,18300.948907,0.0,0.000000,55021.329878,25113.647105,0.00,157182.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [ ]:
# X_all_comb_standardized = scaler.fit_transform(x_new_all_comb)
# X_all_comb_pca = pca.fit_transform(X_all_comb_standardized)

In [ ]:
# X_all_comb_pca_with_const = sm.add_constant(X_all_comb_pca)
# y_new_all_comb = np.dot(X_all_comb_pca, model.params.values)


# y_new_all_comb=sm.add_constant(X_all_comb_pca.iloc[:,:len(columns)+1]).dot(model.params.values)
# y_new_all_comb

y_new_all_comb=sm.add_constant(x_new_all_comb.iloc[:,:8]).dot(model.params.values)
y_new_all_comb

0           23915.473933
1           30524.470141
2           10705.657286
3          290883.725726
4          573984.841430
               ...
2343745    104455.924910
2343746    137243.278362
2343747    120630.289248
2343748    143706.860212
2343749    266811.674673
Length: 2343750, dtype: float64

In [ ]:
model.params.values

array([-1.84369639e+04,  1.12845333e+00, -5.20520956e-02, -1.04935597e+01,
        3.03197276e+00,  2.34768616e+00, -1.35327875e-01,  2.46940531e-01])

In [ ]:
x_new_all_comb.iloc[1,:len(columns)+1]

const                                                                       1.00
NetAreaIrrigated_Wells_NetAreaIrrigated_179                               741.00
NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182    20281.00
NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183                 1.00
AreaUnderCereals_Maize_193                                              14867.00
MotorVehicles_Tractors_514                                                981.00
TotalAgricultureLoan                                                    21753.35
TotalNPK_315                                                            19259.00
Name: 1, dtype: float64

In [ ]:
y_new_all_comb[:30]

0      23915.473933
1      30524.470141
2      10705.657286
3     290883.725726
4     573984.841430
5      16992.030002
6     184483.563290
7     118707.693477
8     100108.101553
9      59258.327645
10     38924.840580
11     -7247.734961
12    276697.726534
13     11173.230660
14     29989.035491
15    153898.574540
16    108792.809747
17    573297.452594
18    221940.269620
19    162819.073735
20    106330.759648
21    143454.211337
22    424286.035550
23     11532.913352
24    303206.738294
25    -17263.569978
26     30763.223049
27      9209.325090
28     18950.639522
29    170127.561114
dtype: float64

In [ ]:
y_new_all_comb=np.maximum(y_new_all_comb,0)
y_new_all_comb

0           23915.473933
1           30524.470141
2           10705.657286
3          290883.725726
4          573984.841430
               ...
2343745    104455.924910
2343746    137243.278362
2343747    120630.289248
2343748    143706.860212
2343749    266811.674673
Length: 2343750, dtype: float64

In [ ]:
def init_graph(G,node_adj_frame):
    G.add_nodes_from([i for i in range(len(node_adj_frame))])
    labels = {}
    labels = node_adj_frame.columns
    for i in range(len(node_adj_frame)):
        snode = node_adj_frame[labels[0]][i]-1
        temp = node_adj_frame[labels[2]][i]
        if ',' in str(temp):
            sedge_arr = temp.split(',')
            for j in range(0, len(sedge_arr)):
                k = int(sedge_arr[j])
                G.add_edge(snode, k-1)
        elif np.isnan(temp):
            print("ERROR: Not found in the adjacency excel sheet")
        else:
            G.add_edge(snode, int(temp)-1)
    return

def init_graph_attr(G, AdjFile, values):
    node_adj_frame = pd.read_excel(AdjFile)
    node_list = node_adj_frame["District_Name"].tolist()
    node_list.insert(80, "")
    nodeAttr = {}
    init_graph(G, node_adj_frame)
    
    values = values.fillna(0)
    capability_vector = list(zip(*[values]))
    
    node_attri_dict = dict(zip(node_list[:31], capability_vector))
    node_attri_dict = dict((k, v) for k, v in node_attri_dict.items())

    for i in range(len(node_adj_frame)):
        temp = {}
        temp["capabilityvector"] = node_attri_dict[node_list[i]]
        temp["nodeStress"] = 0
        temp["name"] = node_list[i]
        nodeAttr[i] = temp

    nx.set_node_attributes(G, nodeAttr)

def addList(l1,l2):
    for i in range(len(l1)):
        l1[i] = l1[i] + l2[i]
    return l1
def divList(l1,k):
    for i in range(len(l1)):
        l1[i] = l1[i]/k
    return l1

def l2_normalization(l1,l2):
    k = 0
    for i in range(len(l1)):
        k+= (l1[i] - l2[i])**2
    return math.sqrt(k)

def get_node_stress(G,dim):
    stress_dict = {}
    for n in G.nodes():
        centroid = [0]*dim
        neighList = list(G.neighbors(n))
        for nei in neighList:
            try:
                centroid = addList(centroid,list(G.nodes[nei]["capabilityvector"]))
            except(KeyError):
                pass
        try:
            G.nodes[n]["nodeStress"] = l2_normalization(divList(centroid,len(neighList)),list(G.nodes[n]["capabilityvector"]))
        except(KeyError):
            pass
        try:
            stress_dict[G.nodes[n]["name"]]=G.nodes[n]["nodeStress"]
        except(KeyError):
            pass
    return stress_dict

def get_node_stability(G,dim):
    satbility_dict = {}
    for n in G.nodes():
        centroid = [0]*dim
        neighList = list(G.neighbors(n))
        for nei in neighList:
            try:
                centroid = addList(centroid,list(G.nodes[nei]["capabilityvector"]))
            except(KeyError):
                pass
        try:
            G.nodes[n]["nodeStability"] = 1 - l2_normalization(divList(centroid,len(neighList)),list(G.nodes[n]["capabilityvector"]))
        except(KeyError):
            pass
        try:
            satbility_dict[G.nodes[n]["name"]]=G.nodes[n]["nodeStability"]
        except(KeyError):
            pass
    return satbility_dict

In [ ]:
x_new_all_comb['Maize_Production']=y_new_all_comb

In [ ]:
x_new_all_comb.drop("const",axis=1,inplace=True)
x_new_all_comb

,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315,Sensitivity (NetAreaIrrigated_Wells_NetAreaIrrigated_179),Sensitivity (NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182),Sensitivity (NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183),Sensitivity (AreaUnderCereals_Maize_193),Sensitivity (MotorVehicles_Tractors_514),Sensitivity (TotalAgricultureLoan),Sensitivity (TotalNPK_315),Maize_Production
0,0.000000,9348.0,0.000000,1129.000000,14638.000000,5214.67,23310.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23915.473933
1,741.000000,20281.0,1.000000,14867.000000,981.000000,21753.35,19259.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30524.470141
2,0.000000,23868.0,4.000000,1987.000000,11407.000000,31203.85,7472.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10705.657286
3,0.000000,92506.0,107.000000,92194.000000,18587.000000,123911.81,35884.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,290883.725726
4,860.000000,78364.0,1562.000000,173400.000000,32337.000000,106009.65,99644.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,573984.841430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343745,35676.948907,0.0,184.957949,8193.329878,14052.647105,0.00,108288.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,104455.924910
2343746,30144.948907,0.0,0.000000,9445.329878,25147.647105,0.00,137629.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,137243.278362
2343747,28992.948907,0.0,412.957949,7772.329878,18698.647105,0.00,175019.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,120630.289248
2343748,32466.948907,0.0,3183.957949,9411.329878,34408.647105,0.00,200865.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,143706.860212
2343749,18300.948907,0.0,0.000000,55021.329878,25113.647105,0.00,157182.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,266811.674673

In [34]:
df = Viz_df

In [35]:
district_values = df1['District'].tolist()

# Repeat the district values to fill 2343750 rows
district_values_repeated = district_values * ((2343750 // len(district_values)) + 1)

# Trim the excess values to match the length of df
district_values_repeated = district_values_repeated[:len(df)]

# Add the 'District' column to df
df.insert(0, 'District', district_values_repeated)

In [36]:
df

,District,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315,Sensitivity (NetAreaIrrigated_Wells_NetAreaIrrigated_179),Sensitivity (NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182),Sensitivity (NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183),Sensitivity (AreaUnderCereals_Maize_193),Sensitivity (MotorVehicles_Tractors_514),Sensitivity (TotalAgricultureLoan),Sensitivity (TotalNPK_315),Maize_Production,New Stability,New Stress
0,BENGALURU,0.000000,9348.0,0.000000,1129.000000,14638.000000,5214.67,23310.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23915.473933,0.992146,0.007854
1,BENGALURU(R),741.000000,20281.0,1.000000,14867.000000,981.000000,21753.35,19259.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30524.470141,0.936032,0.063968
2,RAMANAGARA,0.000000,23868.0,4.000000,1987.000000,11407.000000,31203.85,7472.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10705.657286,0.916443,0.083557
3,CHITRADURGA,0.000000,92506.0,107.000000,92194.000000,18587.000000,123911.81,35884.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,290883.725726,0.944695,0.055305
4,DAVANAGERE,860.000000,78364.0,1562.000000,173400.000000,32337.000000,106009.65,99644.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,573984.841430,0.416855,0.583145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343745,BIDAR,35676.948907,0.0,184.957949,8193.329878,14052.647105,0.00,108288.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,104455.924910,0.945865,0.054135
343746,KALABURAGI,30144.948907,0.0,0.000000,9445.329878,25147.647105,0.00,137629.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,137243.278362,0.920481,0.079519
343747,YADGIRI,28992.948907,0.0,412.957949,7772.329878,18698.647105,0.00,175019.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,120630.289248,0.862306,0.137694
343748,RAICHUR,32466.948907,0.0,3183.957949,9411.329878,34408.647105,0.00,200865.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,143706.860212,0.767704,0.232296
343749,KOPPAL,18300.948907,0.0,0.000000,55021.329878,25113.647105,0.00,157182.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,266811.674673,0.991992,0.008008

In [ ]:
x_new_all_comb['Maize_Production'].mean()

193519.42845977264

In [ ]:
df

,District,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315,Maize_Production_226
0,BENGALURU,0,9348,0,1129,14638,5214.67,23310,2879
1,BENGALURU(R),741,20281,1,14867,981,21753.35,19259,42583
2,RAMANAGARA,0,23868,4,1987,11407,31203.85,7472,10450
3,CHITRADURGA,0,92506,107,92194,18587,123911.81,35884,271975
4,DAVANAGERE,860,78364,1562,173400,32337,106009.65,99644,593544
5,KOLAR,0,20140,0,640,16855,77685.40,22190,1759
6,CHIKKABALLAPURA,0,50370,21,59377,11411,59548.93,28357,105491
7,SHIVAMOGGA,6400,32347,4152,43827,17941,102016.08,56609,226532
8,TUMAKURU,901,144708,9,24207,26534,147446.57,38148,66868
9,CHIKKAMAGALURU,173,26174,4075,25831,15882,79357.11,67863,61353
10,DAKSHINA KANNADA,42026,16589,8,0,7388,81653.32,18588,0
11,UDUPI,23804,699,2245,8,4328,27941.62,6148,109
12,HASSAN,504,23393,20,79058,23091,109489.90,68431,333937
13,KODAGU,0,106,11,3448,6835,50846.95,40947,17921
14,MANDYA,5485,16025,89,4892,11589,95985.22,60558,19387
15,MYSURU,10244,19842,3,37283,20112,101468.48,62014,137154
16,CHAMARAJANAGAR,1870,44070,5,38569,3685,29582.50,23803,147886
17,BELAGAVI,137331,139708,6503,131163,46442,287351.73,179992,576758
18,VIJAYAPURA,72980,113515,2,40207,24819,218820.05,54228,226327
19,BAGALKOT,4929,117497,19,44300,24117,220721.91,84812,251699
20,DHARAWAD,0,20816,0,30900,14291,78464.14,37381,90634
21,GADAG,373,41664,12,34163,27940,82462.90,23280,138476
22,HAVERI,20,63016,10529,170696,15690,103193.56,65001,413487
23,UTTARA KANNADA,10395,8460,16,4576,4638,71656.74,15316,24088
24,BALLARI,3037,75198,3597,99739,24001,216744.25,123329,208090
25,BIDAR,17376,19908,2153,1382,5256,128756.98,24658,2791
26,KALABURAGI,11844,48802,114,2634,16351,148797.70,53999,14621
27,YADGIRI,10692,22035,2381,961,9902,51838.27,91389,2673
28,RAICHUR,14166,26571,5152,2600,25612,148633.91,117235,723
29,KOPPAL,0,82552,10,48210,16317,71493.82,73552,190252

In [ ]:
dim = 1
G = nx.Graph()
adjacency_file = "Karnataka_District_Adjacency_File.xlsx"

column = df["Maize_Production_226"]
column_values = column.values.reshape(-1, 1)
scaler = MinMaxScaler()
normalized_column_values = scaler.fit_transform(column_values)

column_to_pass = pd.Series(normalized_column_values.flatten(), name="Maize_Production_226")
init_graph_attr(G,adjacency_file , column_to_pass )

initialstability= get_node_stability(G,dim)
df["Initial Stability"] = df["District"].map(initialstability)

In [ ]:
df.head()

,District,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315,Maize_Production_226,Initial Stability
0,BENGALURU,0,9348,0,1129,14638,5214.67,23310,2879,0.974079
1,BENGALURU(R),741,20281,1,14867,981,21753.35,19259,42583,0.991418
2,RAMANAGARA,0,23868,4,1987,11407,31203.85,7472,10450,0.923391
3,CHITRADURGA,0,92506,107,92194,18587,123911.81,35884,271975,0.933432
4,DAVANAGERE,860,78364,1562,173400,32337,106009.65,99644,593544,0.398096

In [ ]:
df.to_excel("MaizeCaseFile_2.xlsx",index=False)

In [ ]:
df

,District,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315,Maize_Production_226
0,BENGALURU,0,9348,0,1129,14638,5214.67,23310,2879
1,BENGALURU(R),741,20281,1,14867,981,21753.35,19259,42583
2,RAMANAGARA,0,23868,4,1987,11407,31203.85,7472,10450
3,CHITRADURGA,0,92506,107,92194,18587,123911.81,35884,271975
4,DAVANAGERE,860,78364,1562,173400,32337,106009.65,99644,593544
5,KOLAR,0,20140,0,640,16855,77685.40,22190,1759
6,CHIKKABALLAPURA,0,50370,21,59377,11411,59548.93,28357,105491
7,SHIVAMOGGA,6400,32347,4152,43827,17941,102016.08,56609,226532
8,TUMAKURU,901,144708,9,24207,26534,147446.57,38148,66868
9,CHIKKAMAGALURU,173,26174,4075,25831,15882,79357.11,67863,61353
10,DAKSHINA KANNADA,42026,16589,8,0,7388,81653.32,18588,0
11,UDUPI,23804,699,2245,8,4328,27941.62,6148,109
12,HASSAN,504,23393,20,79058,23091,109489.90,68431,333937
13,KODAGU,0,106,11,3448,6835,50846.95,40947,17921
14,MANDYA,5485,16025,89,4892,11589,95985.22,60558,19387
15,MYSURU,10244,19842,3,37283,20112,101468.48,62014,137154
16,CHAMARAJANAGAR,1870,44070,5,38569,3685,29582.50,23803,147886
17,BELAGAVI,137331,139708,6503,131163,46442,287351.73,179992,576758
18,VIJAYAPURA,72980,113515,2,40207,24819,218820.05,54228,226327
19,BAGALKOT,4929,117497,19,44300,24117,220721.91,84812,251699
20,DHARAWAD,0,20816,0,30900,14291,78464.14,37381,90634
21,GADAG,373,41664,12,34163,27940,82462.90,23280,138476
22,HAVERI,20,63016,10529,170696,15690,103193.56,65001,413487
23,UTTARA KANNADA,10395,8460,16,4576,4638,71656.74,15316,24088
24,BALLARI,3037,75198,3597,99739,24001,216744.25,123329,208090
25,BIDAR,17376,19908,2153,1382,5256,128756.98,24658,2791
26,KALABURAGI,11844,48802,114,2634,16351,148797.70,53999,14621
27,YADGIRI,10692,22035,2381,961,9902,51838.27,91389,2673
28,RAICHUR,14166,26571,5152,2600,25612,148633.91,117235,723
29,KOPPAL,0,82552,10,48210,16317,71493.82,73552,190252

In [ ]:
x_new_all_comb[0:30]

NameError: name 'x_new_all_comb' is not defined

In [ ]:
def calculate_and_map_stability(G, df, adjacency_file, column_values, dim):
    G = nx.Graph()
    scaler = MinMaxScaler()
    
    normalized_column_values = scaler.fit_transform(column_values.reshape(-1, 1))
    column_to_pass = pd.Series(normalized_column_values.flatten(), name="Column")

    init_graph_attr(G, adjacency_file, column_to_pass)
    taluka_stress_dict = get_node_stability(G, dim)

    stability_column_name = "New Stability"
    stability_column = df["District"].map(taluka_stress_dict)

    return stability_column, stability_column_name

Cap_Vector = "Maize_Production"

column_values = x_new_all_comb[Cap_Vector].iloc[0:31].values
result_column, result_column_name = calculate_and_map_stability(G, df, adjacency_file, column_values, dim)

df[result_column_name] = result_column

In [ ]:
def calculate_and_map_stress(G, df, adjacency_file, column_values, dim):
    G = nx.Graph()
    scaler = MinMaxScaler()
    
    normalized_column_values = scaler.fit_transform(column_values.reshape(-1, 1))
    column_to_pass = pd.Series(normalized_column_values.flatten(), name="Column")

    init_graph_attr(G, adjacency_file, column_to_pass)
    taluka_stress_dict = get_node_stress(G, dim)

    stress_column_name = "New Stress"
    stress_column = df["District"].map(taluka_stress_dict)

    return stress_column, stress_column_name

Cap_Vector = "Maize_Production"

column_values = x_new_all_comb[Cap_Vector].iloc[0:31].values 
result_column, result_column_name = calculate_and_map_stress(G, df, adjacency_file, column_values, dim)

df[result_column_name] = result_column

In [ ]:
def calculate_and_map_stability(G, df, adjacency_file, column_values, dim):
    G = nx.Graph()

    scaler = MinMaxScaler()
    normalized_column_values = scaler.fit_transform(column_values.reshape(-1, 1))

    column_to_pass = pd.Series(normalized_column_values.flatten(), name="Column")

    init_graph_attr(G, adjacency_file, column_to_pass)

    stability_dict = get_node_stability(G, dim)
    stability_column = df["District"].map(stability_dict)

    return stability_column

x_new_all_comb["New Stability"] = np.nan
Cap_Vector = "Maize_Production"

chunk_size = 30
for i in range(0, len(x_new_all_comb), chunk_size):

    chunk_values = x_new_all_comb[Cap_Vector].iloc[i:i + chunk_size].values

    result_column = calculate_and_map_stability(G, df, adjacency_file, chunk_values, dim)
    
    x_new_all_comb["New Stability"].iloc[i:i + chunk_size] = result_column

x_new_all_comb["New Stability"] = pd.to_numeric(x_new_all_comb["New Stability"])

In [ ]:
def calculate_and_map_stress(G, df, adjacency_file, column_values, dim):
    G = nx.Graph()

    scaler = MinMaxScaler()
    normalized_column_values = scaler.fit_transform(column_values.reshape(-1, 1))

    column_to_pass = pd.Series(normalized_column_values.flatten(), name="Column")

    init_graph_attr(G, adjacency_file, column_to_pass)

    stress_dict = get_node_stress(G, dim)
    stress_column = df["District"].map(stress_dict)

    return stress_column

x_new_all_comb["New Stress"] = np.nan
Cap_Vector = "Maize_Production"

chunk_size = 30
for i in range(0, len(x_new_all_comb), chunk_size):

    chunk_values = x_new_all_comb[Cap_Vector].iloc[i:i + chunk_size].values

    result_column = calculate_and_map_stress(G, df, adjacency_file, chunk_values, dim)
    
    x_new_all_comb["New Stress"].iloc[i:i + chunk_size] = result_column

x_new_all_comb["New Stress"] = pd.to_numeric(x_new_all_comb["New Stress"])

In [ ]:
x_new_all_comb

,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315,Sensitivity (NetAreaIrrigated_Wells_NetAreaIrrigated_179),Sensitivity (NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182),Sensitivity (NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183),Sensitivity (AreaUnderCereals_Maize_193),Sensitivity (MotorVehicles_Tractors_514),Sensitivity (TotalAgricultureLoan),Sensitivity (TotalNPK_315),Maize_Production,New Stability,New Stress
0,0.000000,9348.0,0.000000,1129.000000,14638.000000,5214.67,23310.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23915.473933,0.992146,0.007854
1,741.000000,20281.0,1.000000,14867.000000,981.000000,21753.35,19259.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30524.470141,0.936032,0.063968
2,0.000000,23868.0,4.000000,1987.000000,11407.000000,31203.85,7472.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10705.657286,0.916443,0.083557
3,0.000000,92506.0,107.000000,92194.000000,18587.000000,123911.81,35884.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,290883.725726,0.944695,0.055305
4,860.000000,78364.0,1562.000000,173400.000000,32337.000000,106009.65,99644.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,573984.841430,0.416855,0.583145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343745,35676.948907,0.0,184.957949,8193.329878,14052.647105,0.00,108288.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,104455.924910,0.945865,0.054135
2343746,30144.948907,0.0,0.000000,9445.329878,25147.647105,0.00,137629.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,137243.278362,0.920481,0.079519
2343747,28992.948907,0.0,412.957949,7772.329878,18698.647105,0.00,175019.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,120630.289248,0.862306,0.137694
2343748,32466.948907,0.0,3183.957949,9411.329878,34408.647105,0.00,200865.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,143706.860212,0.767704,0.232296
2343749,18300.948907,0.0,0.000000,55021.329878,25113.647105,0.00,157182.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,266811.674673,0.991992,0.008008

In [ ]:
# x_new_all_comb.to_excel("x_col_new_all_comb_10.xlsx", index =False)

In [ ]:
# x_new_all_comb = pd.read_excel('x_col_new_all_comb_10.xlsx')
# x_new_all_comb = x_new_all_comb.dropna()
# x_new_all_comb

In [52]:
# x_new_all_comb.to_excel("x_col_new_all_comb_10_20.xlsx", index =False)

import math

# Assuming x_new_all_comb is your DataFrame
chunk_size = 1000000  # Define the chunk size

num_chunks = math.ceil(len(df) / chunk_size)

for i in range(num_chunks):
    start_idx = i * chunk_size
    end_idx = min((i + 1) * chunk_size, len(df))
    chunk_df = df.iloc[start_idx:end_idx]
    filename = f"x_col_new_all_comb_10_20_part_{i+1}.csv"
    chunk_df.to_csv(filename, index=False)

In [ ]:
df.columns

Index(['NetAreaIrrigated_Wells_NetAreaIrrigated_179',
       'NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182',
       'NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183',
       'AreaUnderCereals_Maize_193', 'MotorVehicles_Tractors_514',
       'TotalAgricultureLoan', 'TotalNPK_315',
       'Sensitivity (NetAreaIrrigated_Wells_NetAreaIrrigated_179)',
       'Sensitivity (NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182)',
       'Sensitivity (NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183)',
       'Sensitivity (AreaUnderCereals_Maize_193)',
       'Sensitivity (MotorVehicles_Tractors_514)',
       'Sensitivity (TotalAgricultureLoan)', 'Sensitivity (TotalNPK_315)',
       'Maize_Production', 'New Stability', 'New Stress'],
      dtype='object')

In [ ]:
district_column = pd.DataFrame({
    # "KGISDist 1": df["KGISDist 1"].tolist() * (len(Viz_df) // len(df)),
    "District": df["District"].tolist() * (len(Viz_df) // len(df)),
    # "Target Maize Production": [target] * len(Viz_df)
})

district_column = pd.concat([district_column, district_column.head(len(Viz_df) % len(df))])

district_column.reset_index(drop=True, inplace=True)

# Viz_df["KGISDist 1"] = district_column["KGISDist 1"]/
Viz_df["District"] = district_column["District"]
# Viz_df["Target Maize Production"] = district_column["Target Maize Production"]

# Viz_df.drop(columns=["KGISDist 1", "District", "Target Maize Production"], inplace=True)
Viz_df.drop(columns=["District"], inplace=True)


Viz_df.insert(0, "District", district_column["District"])
# Viz_df.insert(1, "KGISDist 1", district_column["KGISDist 1"])
# Viz_df.insert(11, "Target Maize Production", district_column["Target Maize Production"])

In [ ]:
# x_new_all_comb.to_csv("Maize_Prod_150000.csv", index =False)

In [ ]:
# x_new_all_comb.to_excel("Maize_Prod_150000.xlsx", index =False)

In [ ]:
# x_new_all_comb = pd.read_csv('Maize_Prod_150000.csv')
# df = x_new_all_comb

In [8]:
df = Viz_df

In [10]:
df

,Unnamed: 0.1,Unnamed: 0,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315,Sensitivity (NetAreaIrrigated_Wells_NetAreaIrrigated_179),Sensitivity (NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182),Sensitivity (NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183),Sensitivity (AreaUnderCereals_Maize_193),Sensitivity (MotorVehicles_Tractors_514),Sensitivity (TotalAgricultureLoan),Sensitivity (TotalNPK_315),Maize_Production,New Stability,New Stress
0,0.0,0,0.000000,9348.0,0.000000,1129.000000,14638.000000,5214.67,23310.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23915.473933,0.992146,0.007854
1,1.0,1,741.000000,20281.0,1.000000,14867.000000,981.000000,21753.35,19259.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30524.470141,0.936032,0.063968
2,2.0,2,0.000000,23868.0,4.000000,1987.000000,11407.000000,31203.85,7472.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10705.657286,0.916443,0.083557
3,3.0,3,0.000000,92506.0,107.000000,92194.000000,18587.000000,123911.81,35884.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,290883.725726,0.944695,0.055305
4,4.0,4,860.000000,78364.0,1562.000000,173400.000000,32337.000000,106009.65,99644.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,573984.841430,0.416855,0.583145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343745,NaN,343745,35676.948907,0.0,184.957949,8193.329878,14052.647105,0.00,108288.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,104455.924910,0.945865,0.054135
343746,NaN,343746,30144.948907,0.0,0.000000,9445.329878,25147.647105,0.00,137629.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,137243.278362,0.920481,0.079519
343747,NaN,343747,28992.948907,0.0,412.957949,7772.329878,18698.647105,0.00,175019.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,120630.289248,0.862306,0.137694
343748,NaN,343748,32466.948907,0.0,3183.957949,9411.329878,34408.647105,0.00,200865.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,143706.860212,0.767704,0.232296
343749,NaN,343749,18300.948907,0.0,0.000000,55021.329878,25113.647105,0.00,157182.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,266811.674673,0.991992,0.008008

In [47]:
df.head()

,District,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315,Sensitivity (NetAreaIrrigated_Wells_NetAreaIrrigated_179),Sensitivity (NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182),Sensitivity (NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183),Sensitivity (AreaUnderCereals_Maize_193),Sensitivity (MotorVehicles_Tractors_514),Sensitivity (TotalAgricultureLoan),Sensitivity (TotalNPK_315),Maize_Production,New Stability,New Stress,Abbreviation
0,BENGALURU,0.0,9348.0,0.0,1129.0,14638.0,5214.67,23310.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23915.473933,0.992146,0.007854,BLR
1,BENGALURU(R),741.0,20281.0,1.0,14867.0,981.0,21753.35,19259.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30524.470141,0.936032,0.063968,BLR(R)
2,RAMANAGARA,0.0,23868.0,4.0,1987.0,11407.0,31203.85,7472.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10705.657286,0.916443,0.083557,RGA
3,CHITRADURGA,0.0,92506.0,107.0,92194.0,18587.0,123911.81,35884.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,290883.725726,0.944695,0.055305,CDA
4,DAVANAGERE,860.0,78364.0,1562.0,173400.0,32337.0,106009.65,99644.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,573984.841430,0.416855,0.583145,DVG

In [51]:
df = df.reset_index(drop=True)

df['Percentage Change'] = df['Maize_Production'] - np.tile(y.values, len(df) // 30 + 1)[:len(df)]
for i in range(0, len(df), 30):
    df.loc[i:i+29, 'Percentage Change'] = df.loc[i:i+29, 'Percentage Change'] * 100 / y.values + 1e-9

df['Percentage Change'] = df['Percentage Change'].replace([np.inf, -np.inf], 0)

df['Relative Change'] = df['Maize_Production'] - np.tile(y.values, len(df) // 30 + 1)[:len(df)]
for i in range(0, len(df), 30):
    df.loc[i:i+29, 'Relative Change'] = df.loc[i:i+29, 'Relative Change'] / y.values + 1e-9

df['Relative Change'] = df['Relative Change'].replace([np.inf, -np.inf], 0)

In [49]:
df

,District,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315,Sensitivity (NetAreaIrrigated_Wells_NetAreaIrrigated_179),Sensitivity (NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182),Sensitivity (NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183),Sensitivity (AreaUnderCereals_Maize_193),Sensitivity (MotorVehicles_Tractors_514),Sensitivity (TotalAgricultureLoan),Sensitivity (TotalNPK_315),Maize_Production,New Stability,New Stress,Abbreviation,Percentage Change
0,BENGALURU,0.000000,9348.0,0.000000,1129.000000,14638.000000,5214.67,23310.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23915.473933,0.992146,0.007854,BLR,730.686833
1,BENGALURU(R),741.000000,20281.0,1.000000,14867.000000,981.000000,21753.35,19259.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30524.470141,0.936032,0.063968,BLR(R),-28.317709
2,RAMANAGARA,0.000000,23868.0,4.000000,1987.000000,11407.000000,31203.85,7472.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10705.657286,0.916443,0.083557,RGA,2.446481
3,CHITRADURGA,0.000000,92506.0,107.000000,92194.000000,18587.000000,123911.81,35884.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,290883.725726,0.944695,0.055305,CDA,6.952376
4,DAVANAGERE,860.000000,78364.0,1562.000000,173400.000000,32337.000000,106009.65,99644.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,573984.841430,0.416855,0.583145,DVG,-3.295317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343745,BIDAR,35676.948907,0.0,184.957949,8193.329878,14052.647105,0.00,108288.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,104455.924910,0.945865,0.054135,BDR,3642.598528
2343746,KALABURAGI,30144.948907,0.0,0.000000,9445.329878,25147.647105,0.00,137629.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,137243.278362,0.920481,0.079519,KLB,838.672309
2343747,YADGIRI,28992.948907,0.0,412.957949,7772.329878,18698.647105,0.00,175019.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,120630.289248,0.862306,0.137694,YDR,4412.917667
2343748,RAICHUR,32466.948907,0.0,3183.957949,9411.329878,34408.647105,0.00,200865.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,143706.860212,0.767704,0.232296,RCR,19776.467526
2343749,KOPPAL,18300.948907,0.0,0.000000,55021.329878,25113.647105,0.00,157182.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,266811.674673,0.991992,0.008008,KPL,40.241193

In [ ]:
# df.to_csv("Maize_Prod_150000.csv", index =False)
# df.to_excel("Maize_Prod_150000.xlsx", index =False)

In [ ]:
# x_new_all_comb['Maternal Deaths'].mean()

In [ ]:
# import pandas as pd
# import plotly.express as px
# import ipywidgets as widgets
# from ipywidgets import interact
# from IPython.display import clear_output

# # Function to update the plot based on alpha values
# def update_plot(alpha1, alpha2, alpha3, alpha4):
#     # Filter the dataset based on the selected alpha values
#     filtered_df = df[(df['Sensitivity (Health Facility)'] == alpha1) &
#                      (df['Sensitivity (Caesarean)'] == alpha2) &
#                      (df['Sensitivity (Leprosy Female)'] == alpha3) &
#                      (df['Sensitivity (TB Female)'] == alpha4)]

#     fig = px.scatter(filtered_df, x='New Stability', y='Impact', title='Stability vs Impact',
#                      labels={'Impact': 'Impact', 'New Stability': 'Stability'},
#                      text='KGISDist 1', opacity=1,
#                      color='KGISDist 1', color_discrete_sequence=['darkblue']
#                      )   # Include district names in labels

#     # Customize the layout to make text labels visible
#     fig.update_traces(textposition='top center', showlegend=False)
#     fig.update_layout(annotations=[
#         dict(
#             x=0.5,
#             y=-0.25,
#             showarrow=False,
#             text=f'Alpha 1: {alpha1}, Alpha 2: {alpha2}, Alpha 3: {alpha3}, Alpha 4: {alpha4}',
#             xref="paper",
#             yref="paper"
#         )])

#     # Add average lines
#     avg_stability = filtered_df['New Stability'].mean()
#     avg_impact = filtered_df['Impact'].mean()
    
#     fig.add_shape(
#         type='line',
#         x0=avg_stability, y0=0, x1=avg_stability, y1=1,
#         line=dict(color='red', width=2),
#         yref='paper'
#     )

#     fig.add_shape(
#         type='line',
#         x0=0, y0=avg_impact, x1=1, y1=avg_impact,
#         line=dict(color='red', width=2),
#         xref='paper'
#     )

#     # Clear the output cell to remove the old plot
#     clear_output(wait=True)
#     # Display the new plot
#     display(fig)

# # Create sliders for alphas
# alpha1_slider = widgets.FloatSlider(value=0.5, min=0, max=1, step=0.1, description='Alpha 1:')
# alpha2_slider = widgets.FloatSlider(value=0.5, min=0, max=1, step=0.1, description='Alpha 2:')
# alpha3_slider = widgets.FloatSlider(value=0.5, min=0, max=1, step=0.1, description='Alpha 3:')
# alpha4_slider = widgets.FloatSlider(value=0.5, min=0, max=1, step=0.1, description='Alpha 4:')

# # Create interactive plot
# interactive_plot = interact(update_plot, alpha1=alpha1_slider, alpha2=alpha2_slider, alpha3=alpha3_slider, alpha4=alpha4_slider)

In [ ]:
# import pandas as pd
# import plotly.express as px
# import ipywidgets as widgets
# from ipywidgets import interact
# from IPython.display import clear_output

# # Function to update the plot based on alpha values
# def update_plot(alpha1, alpha2, alpha3, alpha4):
#     # Filter the dataset based on the selected alpha values
#     filtered_df = df[(df['Sensitivity (Health Facility)'] == alpha1) &
#                      (df['Sensitivity (Caesarean)'] == alpha2) &
#                      (df['Sensitivity (Leprosy Female)'] == alpha3) &
#                      (df['Sensitivity (TB Female)'] == alpha4)]

#     fig = px.scatter(filtered_df, x='New Stability', y='Impact', title='Stability vs Impact',
#                      labels={'Impact': 'Impact', 'New Stability': 'Stability'},
#                      text='KGISDist 1', opacity=1,
#                      color='KGISDist 1', color_discrete_sequence=['darkblue']
#                      )   # Include district names in labels

#     # Customize the layout to make text labels visible
#     fig.update_traces(textposition='top center', showlegend=False)
#     fig.update_layout(annotations=[
#         dict(
#             x=0.5,
#             y=-0.25,
#             showarrow=False,
#             text=f'Alpha 1: {alpha1}, Alpha 2: {alpha2}, Alpha 3: {alpha3}, Alpha 4: {alpha4}',
#             xref="paper",
#             yref="paper"
#         )])

#     # Add average lines
#     avg_stability = filtered_df['New Stability'].mean()
#     avg_impact = filtered_df['Impact'].mean()
    
#     fig.add_shape(
#         type='line',
#         x0=avg_stability, y0=0, x1=avg_stability, y1=1,
#         line=dict(color='red', width=2),
#         yref='paper'
#     )

#     fig.add_shape(
#         type='line',
#         x0=0, y0=avg_impact, x1=1, y1=avg_impact,
#         line=dict(color='red', width=2),
#         xref='paper'
#     )

#     # Clear the output cell to remove the old plot
#     clear_output(wait=True)
#     # Display the new plot
#     display(fig)

# # Create dropdowns for alphas
# alpha1_dropdown = widgets.Dropdown(options=[0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0], value=0.5, description='Alpha 1:')
# alpha2_dropdown = widgets.Dropdown(options=[0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0], value=0.5, description='Alpha 2:')
# alpha3_dropdown = widgets.Dropdown(options=[0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0], value=0.5, description='Alpha 3:')
# alpha4_dropdown = widgets.Dropdown(options=[0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0], value=0.5, description='Alpha 4:')

# # Create interactive plot
# interactive_plot = interact(update_plot, alpha1=alpha1_dropdown, alpha2=alpha2_dropdown, alpha3=alpha3_dropdown, alpha4=alpha4_dropdown)

In [39]:
abbreviation_mapping = {
    'BENGALURU': 'BLR',
    'BENGALURU(R)': 'BLR(R)',
    'RAMANAGARA': 'RGA',
    'CHITRADURGA': 'CDA',
    'DAVANAGERE': 'DVG',
    'KOLAR': 'KLR',
    'CHIKKABALLAPURA': 'CKA',
    'SHIVAMOGGA': 'SMG',
    'TUMAKURU': 'TKR',
    'CHIKKAMAGALURU': 'CMG',
    'DAKSHINA KANNADA': 'DKA',
    'UDUPI': 'UPI',
    'HASSAN': 'HSN',
    'KODAGU': 'KDG',
    'MANDYA': 'MDY',
    'MYSURU': 'MYS',
    'CHAMARAJANAGAR': 'CNR',
    'BELAGAVI': 'BLG',
    'VIJAYAPURA': 'VJP',
    'BAGALKOT': 'BKT',
    'DHARAWAD': 'DWD',
    'GADAG': 'GDG',
    'HAVERI': 'HVR',
    'UTTARA KANNADA': 'UTK',
    'BALLARI': 'BLL',
    'BIDAR': 'BDR',
    'KALABURAGI': 'KLB',
    'YADGIRI': 'YDR',
    'RAICHUR': 'RCR',
    'KOPPAL': 'KPL',
}

df['Abbreviation'] = df['District'].map(abbreviation_mapping)

In [40]:
df

,District,NetAreaIrrigated_Wells_NetAreaIrrigated_179,NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182,NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183,AreaUnderCereals_Maize_193,MotorVehicles_Tractors_514,TotalAgricultureLoan,TotalNPK_315,Sensitivity (NetAreaIrrigated_Wells_NetAreaIrrigated_179),Sensitivity (NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182),Sensitivity (NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183),Sensitivity (AreaUnderCereals_Maize_193),Sensitivity (MotorVehicles_Tractors_514),Sensitivity (TotalAgricultureLoan),Sensitivity (TotalNPK_315),Maize_Production,New Stability,New Stress,Abbreviation
0,BENGALURU,0.000000,9348.0,0.000000,1129.000000,14638.000000,5214.67,23310.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23915.473933,0.992146,0.007854,BLR
1,BENGALURU(R),741.000000,20281.0,1.000000,14867.000000,981.000000,21753.35,19259.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30524.470141,0.936032,0.063968,BLR(R)
2,RAMANAGARA,0.000000,23868.0,4.000000,1987.000000,11407.000000,31203.85,7472.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10705.657286,0.916443,0.083557,RGA
3,CHITRADURGA,0.000000,92506.0,107.000000,92194.000000,18587.000000,123911.81,35884.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,290883.725726,0.944695,0.055305,CDA
4,DAVANAGERE,860.000000,78364.0,1562.000000,173400.000000,32337.000000,106009.65,99644.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,573984.841430,0.416855,0.583145,DVG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343745,BIDAR,35676.948907,0.0,184.957949,8193.329878,14052.647105,0.00,108288.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,104455.924910,0.945865,0.054135,BDR
343746,KALABURAGI,30144.948907,0.0,0.000000,9445.329878,25147.647105,0.00,137629.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,137243.278362,0.920481,0.079519,KLB
343747,YADGIRI,28992.948907,0.0,412.957949,7772.329878,18698.647105,0.00,175019.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,120630.289248,0.862306,0.137694,YDR
343748,RAICHUR,32466.948907,0.0,3183.957949,9411.329878,34408.647105,0.00,200865.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,143706.860212,0.767704,0.232296,RCR
343749,KOPPAL,18300.948907,0.0,0.000000,55021.329878,25113.647105,0.00,157182.526532,1.0,1.0,1.0,1.0,1.0,1.0,1.0,266811.674673,0.991992,0.008008,KPL

In [41]:
legend_labels = [{'Abbreviation': abb, 'Full Form': full_form} 
                    for abb, full_form in zip(df['Abbreviation'].unique(), df['District'].unique())]

In [42]:
legend_labels

[{'Abbreviation': 'BLR', 'Full Form': 'BENGALURU'},
 {'Abbreviation': 'BLR(R)', 'Full Form': 'BENGALURU(R)'},
 {'Abbreviation': 'RGA', 'Full Form': 'RAMANAGARA'},
 {'Abbreviation': 'CDA', 'Full Form': 'CHITRADURGA'},
 {'Abbreviation': 'DVG', 'Full Form': 'DAVANAGERE'},
 {'Abbreviation': 'KLR', 'Full Form': 'KOLAR'},
 {'Abbreviation': 'CKA', 'Full Form': 'CHIKKABALLAPURA'},
 {'Abbreviation': 'SMG', 'Full Form': 'SHIVAMOGGA'},
 {'Abbreviation': 'TKR', 'Full Form': 'TUMAKURU'},
 {'Abbreviation': 'CMG', 'Full Form': 'CHIKKAMAGALURU'},
 {'Abbreviation': 'DKA', 'Full Form': 'DAKSHINA KANNADA'},
 {'Abbreviation': 'UPI', 'Full Form': 'UDUPI'},
 {'Abbreviation': 'HSN', 'Full Form': 'HASSAN'},
 {'Abbreviation': 'KDG', 'Full Form': 'KODAGU'},
 {'Abbreviation': 'MDY', 'Full Form': 'MANDYA'},
 {'Abbreviation': 'MYS', 'Full Form': 'MYSURU'},
 {'Abbreviation': 'CNR', 'Full Form': 'CHAMARAJANAGAR'},
 {'Abbreviation': 'BLG', 'Full Form': 'BELAGAVI'},
 {'Abbreviation': 'VJP', 'Full Form': 'VIJAYAPURA'},
 {'Abbreviation': 'BKT', 'Full Form': 'BAGALKOT'},
 {'Abbreviation': 'DWD', 'Full Form': 'DHARAWAD'},
 {'Abbreviation': 'GDG', 'Full Form': 'GADAG'},
 {'Abbreviation': 'HVR', 'Full Form': 'HAVERI'},
 {'Abbreviation': 'UTK', 'Full Form': 'UTTARA KANNADA'},
 {'Abbreviation': 'BLL', 'Full Form': 'BALLARI'},
 {'Abbreviation': 'BDR', 'Full Form': 'BIDAR'},
 {'Abbreviation': 'KLB', 'Full Form': 'KALABURAGI'},
 {'Abbreviation': 'YDR', 'Full Form': 'YADGIRI'},
 {'Abbreviation': 'RCR', 'Full Form': 'RAICHUR'},
 {'Abbreviation': 'KPL', 'Full Form': 'KOPPAL'}]

The tolerance was added to the code to get the correct visualisation because pyhton was giving 0.60001 instead of 0.6 in the sensitivity values (and some other random places too).

In [44]:
y = df1['Maize_Production']

In [50]:
import pandas as pd
import plotly.express as px
import ipywidgets as widgets
from ipywidgets import interact
from IPython.display import clear_output
import plotly.graph_objects as go

def update_plot(alpha1, alpha2, alpha3, alpha4, alpha5, alpha6, alpha7):
    
    tolerance = 1e-5  # Adjust tolerance as necessary
    filtered_df = df[(df['Sensitivity (NetAreaIrrigated_Wells_NetAreaIrrigated_179)'].between(alpha1 - tolerance, alpha1 + tolerance)) &
                 (df['Sensitivity (NetAreaIrrigatedUnderDifferentSources_TubeWells_NetIrrigatedArea_182)'].between(alpha2 - tolerance, alpha2 + tolerance)) &
                 (df['Sensitivity (NetAreaIrrigatedUnderDifferentSources_LiftIrrigation_No_183)'].between(alpha3 - tolerance, alpha3 + tolerance)) & 
                 (df['Sensitivity (AreaUnderCereals_Maize_193)'].between(alpha4 - tolerance, alpha4 + tolerance)) &
                 (df['Sensitivity (MotorVehicles_Tractors_514)'].between(alpha5 - tolerance, alpha5 + tolerance)) &
                 (df['Sensitivity (TotalAgricultureLoan)'].between(alpha6 - tolerance, alpha6 + tolerance)) &
                 (df['Sensitivity (TotalNPK_315)'].between(alpha7 - tolerance, alpha7 + tolerance))]

    
    fig = px.scatter(filtered_df, x= 'New Stability', y='Percentage Change', title='Percentage Change vs Stability',
                     labels={'Percentage Change': 'Percentage Change', 'New Stability': 'Stability'},
                     text='Abbreviation', opacity=1,color_discrete_sequence=['darkblue'])

    fig.update_traces(textposition='top center', textfont=dict(size=11))

    fig.update_layout(
        annotations=[
            dict(
                x=0.5,
                y=-0.25,
                showarrow=False,
                text=f'α<sub>IW</sub>: {alpha1:.2f}, α<sub>ITW</sub>: {alpha2:.2f}, α<sub>LI</sub>: {alpha3:.2f},α<sub>AM</sub>: {alpha4:.2f}, α<sub>TC</sub>: {alpha5:.2f}, α<sub>AL</sub>: {alpha6:.2f},α<sub>NPK</sub>: {alpha7:.2f} ',
                xref="paper",
                yref="paper",
                font=dict(size=13)
            )
        ],
        legend_title_text='Districts',
        legend_title=dict(font=dict(size=12)),
    )

    legend_labels = [{'Abbreviation': abb, 'Full Form': full_form} 
                     for abb, full_form in zip(filtered_df['Abbreviation'].unique(), filtered_df['District'].unique())]

    for label in legend_labels:
        fig.add_trace(go.Scatter(
            x=[None],
            y=[None],
            mode='markers',
            marker=dict(color='darkblue'),
            name=f"{label['Abbreviation']}: {label['Full Form']}"
        ))

    avg_stability = filtered_df['New Stability'].mean()
    avg_precent = filtered_df['Percentage Change'].mean()

    fig.add_shape(
        type='line',
        x0=avg_stability, y0=0, x1=avg_stability, y1=1,
        line=dict(color='red', width=1.5, dash='dash'),
        yref='paper'
    )

    fig.add_shape(
        type='line',
        x0=0, y0=avg_precent, x1=1, y1=avg_precent,
        line=dict(color='red', width=1.5, dash='dash'),
        xref='paper'
    )

    fig.add_trace(go.Scatter(
        x=[avg_stability],
        y=[-0.07],
        text=[f'Avg Stability: {avg_stability:.2f}'],
        mode="text",
        showlegend=False,
        textfont=dict(size=10.7)
    ))

    fig.add_trace(go.Scatter(
        x=[0.3],
        y=[avg_precent-0.04],
        text=[f'Avg Percentage Change: {avg_precent:.2f}'],
        mode="text",
        showlegend=False,
        textfont=dict(size=10.7)
    ))

    clear_output()

    display(fig)
    
alpha1_slider = widgets.FloatSlider(value=0.5, min=0, max=1, step=0.25, description='αIW:')
alpha2_slider = widgets.FloatSlider(value=0.5, min=0, max=1, step=0.25, description='αITW:')
alpha3_slider = widgets.FloatSlider(value=0.5, min=0, max=1, step=0.25, description='αLI:')
alpha4_slider = widgets.FloatSlider(value=0.5, min=0, max=1, step=0.25, description='αAM:')
alpha5_slider = widgets.FloatSlider(value=0.5, min=0, max=1, step=0.25, description='αTC:')
alpha6_slider = widgets.FloatSlider(value=0.5, min=0, max=1, step=0.25, description='αAL:')
alpha7_slider = widgets.FloatSlider(value=0.5, min=0, max=1, step=0.25, description='αNPK:')

interactive_plot = interact(update_plot, alpha1=alpha1_slider, alpha2=alpha2_slider, alpha3=alpha3_slider, alpha4=alpha4_slider, alpha5=alpha5_slider, alpha6=alpha6_slider,alpha7=alpha7_slider, __manual=True)
update_button = widgets.Button(description="Update Plot")
update_button.on_click(lambda _: update_plot(alpha1_slider.value, alpha2_slider.value, alpha3_slider.value, alpha4_slider.value, alpha5_slider.value, alpha6_slider.value, alpha7_slider.value))
widgets.HBox([update_button, alpha1_slider, alpha2_slider, alpha3_slider, alpha4_slider, alpha5_slider, alpha6_slider, alpha7_slider])

interactive(children=(FloatSlider(value=0.5, description='αIW:', max=1.0, step=0.25), FloatSlider(value=0.5, d…

HBox(children=(Button(description='Update Plot', style=ButtonStyle()), FloatSlider(value=0.5, description='αIW…

In [ ]:
# import pandas as pd
# import plotly.express as px
# import ipywidgets as widgets
# from ipywidgets import interact
# from IPython.display import clear_output

# # Function to update the plot based on alpha values
# def update_plot(alpha1, alpha2, alpha3, alpha4):
#     # Filter the dataset based on the selected alpha values
#     filtered_df = df[(df['Sensitivity (Health Facility)'] == alpha1) &
#                      (df['Sensitivity (Caesarean)'] == alpha2) &
#                      (df['Sensitivity (Leprosy Female)'] == alpha3) &
#                      (df['Sensitivity (TB Female)'] == alpha4)]

#     fig = px.scatter(filtered_df, x='New Stability', y='Impact', title='Stability vs Impact',
#                      labels={'Impact': 'Impact', 'New Stability': 'Stability'},
#                      text='KGISDist 1', opacity=1,
#                      color='KGISDist 1', color_discrete_sequence=['darkblue']
#                      )   # Include district names in labels

#     # Customize the layout to make text labels visible
#     fig.update_traces(textposition='top center', showlegend=False)
#     fig.update_layout(annotations=[
#         dict(
#             x=0.5,
#             y=-0.25,
#             showarrow=False,
#             text=f'Alpha 1: {alpha1}, Alpha 2: {alpha2}, Alpha 3: {alpha3}, Alpha 4: {alpha4}',
#             xref="paper",
#             yref="paper"
#         )])

#     # Add average lines
#     avg_stability = filtered_df['New Stability'].mean()
#     avg_impact = filtered_df['Impact'].mean()

#     fig.add_shape(
#         type='line',
#         x0=avg_stability, y0=0, x1=avg_stability, y1=1,
#         line=dict(color='red', width=2),
#         yref='paper'
#     )

#     fig.add_shape(
#         type='line',
#         x0=0, y0=avg_impact, x1=1, y1=avg_impact,
#         line=dict(color='red', width=2),
#         xref='paper'
#     )

#     # Add text annotations
#     fig.add_trace(go.Scatter(
#         x=[avg_stability],
#         y=[0],
#         text=[f'Avg Stability: {avg_stability:.2f}'],
#         mode="text",
#     ))

#     fig.add_trace(go.Scatter(
#         x=[0.1],
#         y=[avg_impact-0.07],
#         text=[f'Avg Impact: {avg_impact:.2f}'],
#         mode="text",
#     ))

#     # Clear the output cell to remove the old plot
#     clear_output()
#     # Display the new plot
#     display(fig)

# # Create sliders for alphas
# alpha1_slider = widgets.FloatSlider(value=0.5, min=0, max=1, step=0.1, description='Alpha 1:')
# alpha2_slider = widgets.FloatSlider(value=0.5, min=0, max=1, step=0.1, description='Alpha 2:')
# alpha3_slider = widgets.FloatSlider(value=0.5, min=0, max=1, step=0.1, description='Alpha 3:')
# alpha4_slider = widgets.FloatSlider(value=0.5, min=0, max=1, step=0.1, description='Alpha 4:')

# # Create button to update plot
# update_button = widgets.Button(description="Update Plot")
# update_button.on_click(lambda _: update_plot(alpha1_slider.value, alpha2_slider.value, alpha3_slider.value, alpha4_slider.value))

# # Organize sliders and button in a vertical box
# controls_box = widgets.VBox([alpha1_slider, alpha2_slider, alpha3_slider, alpha4_slider, update_button])

# # Display the initial plot
# update_plot(alpha1_slider.value, alpha2_slider.value, alpha3_slider.value, alpha4_slider.value)

# # Display the sliders and button below the plot
# widgets.VBox([controls_box])

In [ ]:
# import pandas as pd

# def convert_xlsx_to_csv(xlsx_file, csv_file):
#     # Read the Excel file into a pandas DataFrame
#     df = pd.read_excel(xlsx_file)

#     # Save the DataFrame to a CSV file
#     df.to_csv(csv_file, index=False)

# # Replace 'input_file.xlsx' with the path to your Excel file and 'output_file.csv' with the desired CSV file name
# xlsx_file_path = 'x_col_new_all_comb_5.xlsx'
# csv_file_path = 'x_col_new_all_comb_5_c.csv'

# convert_xlsx_to_csv(xlsx_file_path, csv_file_path)